:root {
  --rgb-accent: 255 215 0;
  --rgb-accent-secondary: 254 29 127;

  --color-text: #fff;
  --color-text-reverse: #171717;
  --color-text-darker: #BAAEFF;
  --color-text-secondary: lightgray;
  --color-accent: rgb(var(--rgb-accent));
  --color-accent-secondary: rgb(var(--rgb-accent-secondary));
  --color-background-lighter: rgb(73, 68, 100);
  --color-background: rgb(37, 34, 50);
  --color-background-darker: rgb(8, 8, 27);

  --size-corner: 1rem;
  --size-text-xl: 4rem;
  --size-text-l: 1.8rem;
  --size-text: 1.6rem;
  --size-text-md: 1.4rem;
  --size-text-sm: 1.2rem;
  --size-spacing-base: 1rem;
  --size-page-width: 140rem;


  --aa-base-unit: 1rem;
  --aa-spacing: 2rem;
  --aa-icon-size: 2rem;
  --aa-icon-color-rgb: 211, 211, 211;
  --aa-icon-color-alpha: 1;
  --aa-text-color-rgb: 255, 255, 255;
  --aa-text-color-alpha: .85;
  --aa-primary-color-rgb: 138, 118, 27;
  --aa-input-border-color-rgb: 55, 55, 71;
  --aa-input-border-color-alpha: 1;
  --aa-background-color-rgb: 8, 8, 27;
  --aa-background-color-alpha: 1;
  --aa-input-background-color-rgb: 20, 21, 39;
  --aa-input-background-color-alpha: 1;
  --aa-search-input-height: 6.4rem;
  --aa-muted-color-rgb: 211, 211, 211;
  --aa-scrollbar-track-background-color-rgb: 8, 8, 27;
  --aa-scrollbar-thumb-background-color-rgb: 255, 255, 255;
  --aa-scrollbar-thumb-background-color-alpha: .25;
}

@font-face {
  font-family: "IBM Plex";
  src: url("/fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBM Plex";
  font-weight: 600;
  src: url("/fonts/IBMPlexSans-SemiBold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: IBM Plex, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--size-text);
  line-height: 1.4;
  background: var(--color-background);
  color: var(--color-text);
  padding-bottom: 4rem;
}

* {
  box-sizing: border-box;
}

/*********************
      Layout
*********************/

.grid {
  display: grid;
}

.grid-default {
  grid-gap: calc(var(--size-spacing-base) * 2);
}

.grid-sm {
  grid-gap: var(--size-spacing-base);
}

.grid-xs {
  grid-gap: calc(var(--size-spacing-base) / 2) var(--size-spacing-base);
}

.grid-l {
  grid-gap: calc(var(--size-spacing-base) * 8);
}

.grid-center-x {
  align-items: center;
}

.place-center-x {
  display: flex;
  align-items: center;
}

.place-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*********************
      Components
*********************/

#__next svg path {
  fill: var(--color-text);
}

a {
  color: var(--color-text-darker);
}

.page-container {
  max-width: var(--size-page-width);
  margin: auto;
  padding: 0 2rem;
}

@media (min-width: var(--size-page-width)) {
  .page-container {
    padding: 0;
  }
}

.card {
  border-radius: var(--size-corner);
  background: var(--color-background-darker);
  overflow: hidden;
}

.card-content {
  padding: calc(var(--size-spacing-base) * 2);
}

.details dt {
  font-weight: bold;
  font-size: var(--size-text-sm);
}

.summary dt {
  text-align: right;
  font-weight: 600;
}

.button {
  --button-background-opacity: 100%;

  padding: 1rem 2rem;
  border-radius: var(--size-corner);
  border: none;

  font-size: var(--size-text-md);
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;

  color: var(--color-text-reverse);
  background: rgb(var(--rgb-accent-secondary) / var(--button-background-opacity));
  text-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  text-decoration: none;

  cursor: pointer;
  transition: transform 0.25s ease;
  transform: scale(1);
}

.button:hover {
  transform: scale(1.02);
}

.button-fluid {
  display: block;
  width: 100%;
  text-align: center;
}

.label {
  font-size: var(--size-text-sm);
  font-weight: 600;
  display: block;
}

.input {
  padding: calc(var(--size-spacing-base) * 2);
  border-radius: var(--size-corner);
  background: rgb(20, 21, 39);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  border: 2px solid rgb(55, 55, 71);
  font-weight: 600;
  transition: border-color 0.2s ease;
}

.input-small {
  padding: calc(var(--size-spacing-base));
}

.input:focus {
  border-color: rgba(255 215 0 / 50%);
}

#nprogress .spinner {
  display: none;
}

#nprogress .bar {
  height: 4px;
  background: var(--color-accent-secondary);
  opacity: .5;
}

#nprogress .peg {
  display: none;
}

.aa-Form {
  border-radius: var(--size-corner);
  border-width: 2px;
}

.aa-Form:focus-within {
  box-shadow: none;
}

.aa-DetachedOverlay {
  backdrop-filter: blur(3px);
}

.aa-DetachedContainer--modal {
  top: 2rem;
}

.aa-DetachedSearchButton {
  width: 200px;
}

@media (max-width: 860px) {
  .aa-DetachedSearchButton {
    width: auto;
    height: auto;
    border: none;
    background: none;
    padding: 0;
  }

  .aa-DetachedSearchButtonIcon {
    width: auto;
    cursor: pointer;
  }

  .aa-DetachedSearchButtonPlaceholder {
    display: none;
  }
}

/*********************
      Box model
*********************/

.block-centered {
  margin-left: auto;
  margin-right: auto;
}

.has-after:after {
  content: "";
  position: absolute;
  display: block;
}

.aspect-ratio {
  aspect-ratio: var(--aspect-ratio-width) / var(--aspect-ratio-height);
}

@supports not (aspect-ratio: auto) {
  .aspect-ratio {
    padding-bottom: calc((var(--aspect-ratio-height) / var(--aspect-ratio-width)) * 100%);
  }
}

/*********************
      Positioning
*********************/

.positioning-parent {
  position: relative;
}

.positioning-after-center-x:after {
  left: 50%;
  transform: translateX(-50%);
}

.positioning-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*********************
      Typography
*********************/

.typography-display {
  font-size: var(--size-text-xl);
}

.typography-heading1 {
  font-weight: 600;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.typography-heading2 {
  font-size: var(--size-text-l);
  font-weight: 600;
  text-transform: uppercase;
}

.typography-center {
  text-align: center;
}

/*********************
      Repositories
*********************/

.Grass-text {
  color: rgb(130, 210, 96);
}

.Fire-text {
  color: rgb(255, 77, 38);
}

.Water-text {
  color: rgb(58, 163, 255);
}

.Psychic-text {
  color: rgb(255, 96, 163);
}

.Fighting-text {
  color: rgb(195, 96, 77);
}

.Darkness-text {
  color: rgb(130, 96, 77);
}

.Metal-text {
  color: rgb(179, 179, 195);
}

.Lightning-text {
  color: rgb(255, 210, 58);
}

.Dragon-text {
  color: rgb(130, 113, 240);
}

.Fairy-text {
  color: rgb(240, 163, 240);
}

.Grass-background {
  background: rgb(130 210 96 / 10%);
}

.Fire-background {
  background: rgb(255 77 38 / 10%);
}

.Water-background {
  background: rgb(58 163 255 / 10%);
}

.Psychic-background {
  background: rgb(255 96 163 / 10%);
}

.Fighting-background {
  background: rgb(195 96 77 / 10%);
}

.Darkness-background {
  background: rgb(130 96 77 / 10%);
}

.Metal-background {
  background: rgb(179 179 195 / 10%);
}

.Lightning-background {
  background: rgb(255 210 58 / 10%);
}

.Dragon-background {
  background: rgb(130 113 240 / 10%);
}

.Fairy-background {
  background: rgb(240 163 240 / 10%);
}